{
  "openapi": "3.0.1",
  "info": {
    "title": "RESTful API",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "5.0.0"
  },
  "servers": [
    {
      "url": "https://api.celltek.de"
    }
  ],
  "security": [
    {
      "Token": []
    }
  ],
  "paths": {
    "/system": {
      "get": {
        "security": [],
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/System"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/uptime": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Uptime"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/account": {
      "get": {
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Account"
                  }
                }
              }
            }
          }
        }
      }
    },
   "/allowlist/ip": {
      "get": {
        "security": "TokenIP",
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowlistIP"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/allowlist/domain": {
      "get": {
        "security": "TokenDomain",
        "responses": {
          "200": {
            "description": "System response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AllowlistDomain"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "System": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "Uptime": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "AllowlistIP": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      },
      "AllowlistDomain": {
        "type": "object",
        "properties": {
          "response": {
            "type": "string",
            "description": "response"
          }
        }
      }
    },
    "securitySchemes": {
      "Token": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your API-KEY in the format **&lt;api-key>**"
      },
      "TokenIP": {
        "type": "ip",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your IP-ADRESS in the format **&lt;ip>**"
      },
      "TokenDomain": {
        "type": "domain",
        "in": "header",
        "name": "Authorization",
        "description": "Enter your DOMAIN in the format **&lt;domain>**"
      }
    }
  }
}